*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#660000;
    color: #b82222;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: auto;
}

main{
    margin-bottom: 75px;
}

header{
    display: flex;
    padding: 5px;
    margin: 10px;
    justify-content: center;
}

nav{
    border: 5px double rgb(255, 0, 0);
    background-color: rgb(84, 32, 32);
    padding: 10px;
}

nav ul li{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav ul li a{
    padding: 5px;
    font-size: larger;
    text-decoration: none;
    color: rgb(193, 63, 63);
}

nav a:hover{
    color: #ff0000;
    font-size: 20px;
    text-decoration: underline;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

#desc{
    border: 5px solid rgb(184, 73, 73);
    margin: 20px;
    padding: 10px;
    background-color: #3e0f0f;
}

.container{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    border: 5px double rgb(184, 73, 73);
    background-color: #3e0f0f;
}

.container a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.container a:hover{
    color: #ff0000;
    font-size: 25px;
    text-decoration: underline;
}

#join{
    margin-bottom: 15px;
}

#input{
    margin-bottom: 15px;
}

#mail-input{
    border: 3px solid;
    border-radius: 5px;
}

.antiMcDs{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    border: 5px double red;
    position: absolute;
    text-align: center; 
    padding: 5px;
    background-color: rgb(84, 32, 32);
    height: auto; /* Automatically fits in with the text */
    width: 100%;
}

.footerlinks{
    float: left;
    padding: 5px;
}

.sue{
    float: right;
    padding: 5px;
}

footer a{
    color: rgb(193, 63, 63);
    text-decoration: none;
}

footer a:hover{
    font-size: 16.5px;
    color: rgb(255, 0 , 0);
    text-decoration: underline;
}
